
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js SPAのサンプルアプリケーション</title>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
    <div id="app">
        <nav v-cloak>
            <router-link to="/top">トップページ</router-link>
            <router-link to="/users">ユーザー一覧</router-link>
            <router-link to="/users/new?redirect=true">新規ユーザー登録</router-link>
            <router-link to="/login" v-show="!Auth.loggedIn()">ログイン</router-link>
            <router-link to="/logout" v-show="Auth.loggedIn()">ログアウト</router-link>
        </nav>
        <router-view></router-view>
    </div>
    <script src="https://unpkg.com/vue@2.5.17"></script>
    <script src="https://unpkg.com/vue-router@3.0.1"></script>

    <script>
        const userData = [
            {
                id: 1,
                name: 'Masahiro',
                description: '品川に週2〜5日出勤しているエンジニアです。'
            },
            {
                id: 2,
                name: 'wako-p',
                description: 'jsでは絶対にvarを使用することは許されないエンジニアです。'
            }
        ]
    </script>

    <!-- user-listコンポーネント -->
    <script type="text/x-template" id="user-list">
        <div>
            <div class="loading" v-if="loading">読み込み中...</div>
            <div v-if="error" class="error">{{ error }}</div>
            <div v-for="user in users" :key="user.id"><router-link :to="{ path: '/users/' + user.id }">{{ user.name }}</router-link></div>
        </div>
    </script>
    <script>

        const getUsers = function(callback) {
            setTimeout(function() {
                callback(null, userData)
            }, 1000)
        }

        const UserList = {
            template: '#user-list',
            data: function() {
                return {
                    loading: false,
                    users: function(){ return[] },
                    error: null
                }
            },
            created: function() {
                this.fetchData()
            },
            watch: {
                '$route': 'fetchData'
            },
            methods: {
                fetchData: function() {
                    this.loading = true
                    getUsers((function(err, users) {
                        this.loading = false
                        if(err) {
                            this.error = err.toString()
                        } else {
                            this.users = users
                        }
                    }).bind(this))
                }
            }
        }
    </script>

    <!-- user-detailコンポーネント -->
    <script type="text/x-template" id="user-detail">
        <div>
            <div class="loading" v-if="loading">読み込み中...</div>
            <div v-if="error" class="error">{{ error }}</div>
            <div v-if="user">
                <h2>{{ user.name }}</h2>
                <p>{{ user.description }}</p>
            </div>
        </div>
    </script>
    <script>

        const getUser = function(userId, callback) {
            setTimeout(function() {
                const filterdUsers = userData.filter(function (user) {
                    return user.id === parseInt(userId, 10)
                })
                callback(null, filterdUsers && filterdUsers[0])
            }, 1000)
        }

        const UserDetail = {
            template: '#user-detail',
            data: function(){
                return{
                    loading: false,
                    user: null,
                    error: null
                }
            },
            created: function(){
                this.fetchData()
            },
            // watch: {
            //     '$route': 'fetchData'
            // },
            methods: {
                fetchData: function() {
                    this.loading = true
                    getUser(this.$route.params.userId, (function(err, user) {
                        this.loading = false;
                        if (err) {
                            this.error = err.toString()
                        } else {
                            this.user = user
                        }
                    }).bind(this))
                }
            }
        }
    </script>

    <!-- loginコンポーネント -->
    <script type="text/x-template" id="login">
        <div>
            <h2></h2>
            <p v-if="$route.query.redirect">ログインして</p>
            <form @submit.prevent="login">
                <label><input v-model="email" pleaceholder="email" type="email"></label>
                <label><input v-model="pass" pleaceholder="password" type="password"></label><br>
                <button>ログイン</button>
                <p v-if="error" class="error">失敗</p>
            </form>
        </div>
    </script>
    <script>
        const Auth = {
            login: function(email, pass, callback) {
                setTimeout(function() {
                    if (email === 'kikuya127@gmail.com' && pass === 'vue'){
                        localStorage.token = Math.random().toString(36).substring(7);
                        if (callback) { callback(true) }
                    } else {
                        if (callback) { callback(false) }
                    }
                }, 0);
            },
            logout: function() {
                delete localStorage.token;
            },
            loggedIn: function() {
                return !!localStorage.token;
            }
        }

        const Login = {
            template: '#login',
            data: function() {
                return {
                    email: 'kikuya127@gmail.com',
                    pass: '',
                    error: false
                }
            },
            methods: {
                login: function() {
                    Auth.login(this.email, this.pass, (function (loggedIn) {
                        if (!loggedIn) {
                            this.error = true
                        } else {
                            this.$router.replace(this.$route.query.redirect || '/')
                        }
                    }).bind(this))
                }
            }
        }
    </script>



    <!-- user-createコンポーネント -->
    <script type="text/x-template" id="user-create">
        <div>
            <div class="sending" v-if="sending">送信中...</div>
            <div v-if="error" class="error">{{ error }}</div>
            <div>
                <h2>新規ユーザー作成</h2>
                <p><label>名前: </label><input type="text" v-model="user.name"></p>
                <p><label>説明文: </label><textarea v-model="user.description"></textarea></p>
                <button @click="createUser">送信</button>
            </div>
        </div>
    </script>
    <script>

        const postUser = function(params, callback){
            setTimeout( function(){
                params.id = userData.length + 1
                userData.push(params)
                console.log(userData)
                callback(null, params)
            },1000)
        }

        const UserCreate = {
            template: '#user-create',
            data: function(){
                return{
                    sending: false,
                    user: this.defaultUser(),
                    error:null
                }
            },

            created: function(){
            },
            methods: {
                defaultUser: function(){
                    return{
                        name: '',
                        description: ''
                    }
                },
                createUser: function () {
                    //入力パラメーターのバリデーション
                    if (this.user.name.trim() === '') {
                        this.error = 'Nameは必須です'
                        return
                    }
                    if (this.user.description.trim() === '') {
                        this.error = 'Descriptionは必須です'
                        return
                    }
                    postUser(this.user, (function (err, user){
                        this.sending = false
                        if (err) {
                            this.error = err.toString()
                        } else {
                            this.error = null
                            //デフォルトでフォームをリセット
                            this.user = this.defaultUser()
                            alert('新規ユーザが登録されました')
                            //ユーザー一覧ページに戻る
                            this.$router.push('/users')
                        }
                    }).bind(this))
                }
            },
        }
    </script>



    <script>
        const router = new VueRouter({
            routes: [
                {
                    path: '/top',
                    component: {
                        template: '<div>トップページです。</div>'
                    }
                },
                {
                    path: '/users',
                    component: UserList
                },
                {
                    path: '/users/new',
                    component: UserCreate,
                    beforeEnter: function(to, from, next) {
                        if (!Auth.loggedIn()) {
                            next({
                                path: '/login',
                                query: { redirect: to.fullPath }
                            })
                        } else {
                            next()
                        }
                    }
                },
                {
                    path: '/users/:userId',
                    component: UserDetail
                },
                {
                    path: '/login',
                    component: Login
                },
                {
                    path: '/logout',
                    beforeEnter: function(to, from, next) {
                        Auth.logout();
                        next('/')
                    }
                }
            ]
        });

        const app = new Vue({
            data: {
                Auth: Auth
            },
            router: router
        }).$mount("#app");

    </script>
</body>
</html>
